@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.nav_container {
  background-color: #edf5fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 8%;
}
.nav_full {
  background-color: #edf5fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.item_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.sub_logo {
  font-size: 30px;
  cursor: pointer;
}
.sub_logo:hover {
  color: #1782ef;
}
.nav_logo {
  width: 70px;
}
.nav_item_topic {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
.nav_item_topic:hover {
  color: #1782ef;
}

.nav_item_topic.active {
  color: #1782ef;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #1782ef;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #005bb5;
}
.hamburger_icon,
.hamburger {
  display: none;
}
.mobile_nav{
  display: none;
}
/* Mobile view */
@media (max-width: 768px) {
  .mobile_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
  }
  .item_nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -20px;
    width: 80%;
    height: 100vh;
    align-items: start;
    text-align: start;
    justify-content: start;
    background-color: #edf5fe;
    padding: 10px 20px;
  }
  .nav_container {
    padding: 0;
  }
  .nav_full {
    padding: 0 20px;
  }
  .item_nav.active {
    display: flex;
  }

  .nav_container {
    position: relative;
    padding: 10px 4%;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .hamburger_icon {
    display: block;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: block;
  }
}
